/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 2rem;
}

header h1 {
  font-size: 2.5rem;
  color: #fff;
}

header p {
  font-size: 1rem;
  color: #ccc;
}

/* Main Content */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.card {
  background: #1c1c1c;
  border: 1px solid #444;
  border-radius: 12px;
  overflow: hidden;
  width: calc(50% - 10px); /* Membagi kartu menjadi dua kolom */
  text-align: center;
  transition: transform 0.3s ease, background 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  background: #333;
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card .content {
  padding: 1rem;
}

.card .content h2 {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.card .content p {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 0.5rem;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem 0;
  background-color: #1c1c1c;
  color: #ccc;
  border-radius: 8px;
}

/* Responsif untuk perangkat kecil */
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
